- const width = "600"
- const height = "300"
- const viewBox = `0 0 ${width} ${height}`
- const lightGray = "#d1cee3"
- const darkGray = "#57606a"
- const blue = "#2563eb"

svg(fill="none" viewBox=viewBox width=width height=height xmlns="http://www.w3.org/2000/svg")
  rect(x="0" y="0" width=width height=height stroke=lightGray strokeWidth="2" rx="10" ry="10")
  line(x1="0" y1="180" x2=width y2="180" stroke=lightGray)

  g(transform="translate(30 80)")
    text(x="0" y="0" fill="#3c4249" font-size="40" font-weight="600" font-family="sans-serif")=user
    text(x="0" y="50" fill=darkGray font-size="25" font-family="sans-serif")=bio

  g
    line(x1="200" y1="180" x2="200" y2="300" stroke=lightGray)
    line(x1="400" y1="180" x2="400" y2="300" stroke=lightGray)

  g(transform="translate(30 200)")
    path(transform="translate(25 10)" fill=blue d="m 14.06356,3.2404958 0.594286,0.642468 0.642467,-0.641399 c 1.793565,-1.748051 4.277783,-2.54364494 6.719166,-2.1372829 3.688848,0.6146299 6.39258,3.8066339 6.39258,7.5490227 v 0.31053 c 0,2.2218744 -0.920873,4.3473764 -2.548467,5.8625364 l -9.67453,9.032062 c -0.401541,0.374773 -0.931579,0.583575 -1.483035,0.583575 -0.551451,0 -1.081489,-0.208802 -1.483035,-0.583575 L 3.547927,14.826371 C 1.922482,13.311211 1,11.185709 1,8.9638346 v -0.31053 C 1,4.9109158 3.704801,1.7189118 7.392579,1.1042819 c 2.393202,-0.40636204 4.925602,0.3892319 6.670981,2.1362139 -0.04819,0 0,4.73e-4 0,0 z M 14.657846,7.5182746 12.248582,5.0126428 C 11.086783,3.8979568 9.437776,3.3689878 7.815539,3.6388248 5.366122,4.0473308 3.569879,6.1690868 3.569879,8.6533046 v 0.31053 c 0,1.5098024 0.626945,2.9553584 1.73146,3.9833104 l 9.404688,8.780425 9.406836,-8.780425 c 1.102906,-1.027952 1.729316,-2.473508 1.729316,-3.9833104 v -0.31053 c 0,-2.4842178 -1.79892,-4.6059738 -4.245659,-5.0144798 -1.622238,-0.269837 -3.271244,0.259132 -4.433043,1.373818 z")
    text(x="60" y="33" fill=blue font-size="25" font-weight="600" font-family="sans-serif")=following
    text(x="10" y="70" fill=darkGray font-size="25" font-weight="600" font-family="sans-serif") Following

  g(transform="translate(230 200)")
    path(transform="translate(25 10)" fill=blue d="m 5.0756493,8.3490695 a 7.3481634,7.3481634 0 1 1 12.3827047,5.3515605 11.56391,11.56391 0 0 1 6.369808,8.574257 1.5751486,1.5751486 0 1 1 -3.111423,0.493376 8.397901,8.397901 0 0 0 -16.5858537,0 1.5753131,1.5753131 0 0 1 -3.111422,-0.495475 11.56181,11.56181 0 0 1 6.369808,-8.570058 7.3334671,7.3334671 0 0 1 -2.313622,-5.3536605 z M 23.970926,5.1998563 a 6.3005252,6.3005252 0 0 1 4.660835,10.5351647 10.518371,10.518371 0 0 1 5.374657,6.32362 1.5725069,1.5725069 0 0 1 -1.858035,2.002899 1.5788054,1.5788054 0 0 1 -1.152613,-1.07913 7.3628596,7.3628596 0 0 0 -5.294876,-4.979955 1.5746064,1.5746064 0 0 1 -1.205099,-1.532617 v -0.739016 a 1.5746064,1.5746064 0 0 1 0.873381,-1.410847 3.1492129,3.1492129 0 0 0 -1.39825,-5.9709055 1.5746066,1.5746066 0 0 1 0,-3.1492132 z M 12.423812,4.1501192 a 4.1989505,4.1989505 0 1 0 -0.0021,8.3958008 4.1989505,4.1989505 0 0 0 0.0021,-8.3958008 z")
    text(x="70" y="33" fill=blue font-size="25" font-weight="600" font-family="sans-serif")=followers
    text(x="10" y="70" fill=darkGray font-size="25" font-weight="600" font-family="sans-serif") Followers

  g(transform="translate(420 200)")
    path(transform="translate(40 10)" fill=blue d="M 1.0000023,4.90888 A 3.9088801,3.9088801 0 0 1 4.9088823,1 H 18.589963 a 1.172664,1.172664 0 0 1 1.172663,1.1726644 V 21.717064 a 1.172664,1.172664 0 0 1 -1.172663,1.172665 h -3.908881 a 1.172664,1.172664 0 0 1 0,-2.345328 h 2.736216 V 17.417296 H 4.9088823 a 1.5635521,1.5635521 0 0 0 -1.116376,2.658039 1.1731028,1.1731028 0 1 1 -1.676128,1.641729 3.9010624,3.9010624 0 0 1 -1.116376,-2.736215 z M 17.417298,3.3453278 H 4.9088823 A 1.5635521,1.5635521 0 0 0 3.3453303,4.90888 v 10.488307 a 3.8869904,3.8869904 0 0 1 1.563552,-0.325218 H 17.417298 Z M 5.6906583,20.153512 a 0.39088801,0.39088801 0 0 1 0.390888,-0.390888 h 5.4724317 a 0.39088801,0.39088801 0 0 1 0.390888,0.390888 v 5.081544 a 0.39088801,0.39088801 0 0 1 -0.625421,0.312711 L 9.0522953,23.848186 a 0.38932446,0.38932446 0 0 0 -0.469066,0 l -2.26715,1.699581 a 0.39088801,0.39088801 0 0 1 -0.625421,-0.312711 z")
    text(x="75" y="33" fill=blue font-size="25" font-weight="600" font-family="sans-serif")=public_repos
    text(x="0" y="70" fill=darkGray font-size="25" font-weight="600" font-family="sans-serif") Public Repos
