svg(fill="none" viewBox="0 0 400 130" width="400" height="130" xmlns="http://www.w3.org/2000/svg")
  //- style tag
  style.
    p {
      margin: 0;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-family: sans-serif;
    }
  rect(x="0" y="0" width="400" height="130" stroke="#d1cee3" strokeWidth="2" rx="10" ry="10")
  //- repo name
  g
    foreignObject(x="40" y="25" width="360" height="18")
      p(style="font-weight:600;color:#2563eb" xmlns="http://www.w3.org/1999/xhtml")=name
    path(transform="translate(20 26)" fill="#586069" d="M 1.1659812,15.842066 C 0.70096617,15.624143 0.25001317,15.120334 0.10479117,14.656498 c -0.107342,-0.342854 -0.114833,-0.8465 -0.09778,-6.57466 0.0177,-5.946592 0.0238,-6.21586 0.147365,-6.505261 C 0.45884917,0.863458 0.89027917,0.437579 1.5988442,0.150695 1.9710412,0 1.9710412,0 7.4387452,0 c 5.4676998,0 5.4676998,0 5.7463368,0.149002 0.386169,0.206504 0.675733,0.580996 0.763715,0.987698 0.05068,0.234266 0.06684,1.970469 0.05222,5.610629 -0.02115,5.271383 -0.02115,5.271383 -0.203485,5.546848 -0.100279,0.151504 -0.319153,0.369604 -0.486391,0.484666 -0.304066,0.209202 -0.304066,0.209202 -0.304066,1.238673 0,1.1523 -0.01882,1.110912 0.504846,1.110912 0.226317,0 0.316267,0.03378 0.397044,0.149104 0.132748,0.189528 0.132748,0.384414 0,0.573941 -0.104439,0.149104 -0.104439,0.149104 -6.2559898,0.148448 -6.151554,-6.03e-4 -6.151554,-6.03e-4 -6.486996,-0.157855 z m 10.7957418,-0.75436 c 0.09018,-0.03461 0.106119,-0.190553 0.106119,-1.038592 0,-0.978911 -0.003,-0.998587 -0.15095,-1.035636 -0.08302,-0.02077 -2.4151788,-0.02889 -5.1825768,-0.01805 -4.892313,0.01917 -5.037934,0.02343 -5.259423,0.153893 -0.329301,0.193965 -0.49138903,0.446992 -0.52325903,0.816834 -0.04895,0.568078 0.29665003,1.006059 0.86709603,1.098867 0.353751,0.05755 9.9959288,0.07912 10.1429938,0.02269 z M 1.2330702,12.212018 c 0.225133,-0.08111 1.152007,-0.09715 5.75498,-0.09962 5.8619098,-0.0031 5.8389408,-0.0019 6.0136258,-0.328296 0.05012,-0.09365 0.07249,-1.726142 0.07249,-5.290734 0,-5.629774 0.0199,-5.34561 -0.386026,-5.513749 -0.117394,-0.04863 -0.471239,-0.07141 -0.925139,-0.05956 -0.73503,0.01918 -0.73503,0.01918 -0.768573,3.429359 -0.03226,3.277638 -0.03859,3.413877 -0.163771,3.505368 -0.07162,0.05235 -0.229,0.09519 -0.349719,0.09519 -0.215067,0 -0.6892518,-0.342434 -2.0130238,-1.453718 -0.19038,-0.159819 -0.395416,-0.29058 -0.455639,-0.29058 -0.06022,0 -0.46297,0.2813 -0.894995,0.625111 -1.25131,0.995812 -1.429994,1.119187 -1.620924,1.119187 -0.09834,0 -0.237398,-0.04284 -0.309022,-0.09519 C 5.0621672,7.763296 5.0558022,7.627056 5.0235622,4.349418 4.9900222,0.939242 4.9900222,0.939242 3.7840422,0.92086 3.0894382,0.91027 2.4274372,0.93375 2.2228352,0.97622 1.7380212,1.076867 1.3445862,1.386191 1.1178182,1.844999 0.93547817,2.213917 0.93547817,2.213917 0.93332517,7.262317 c -0.0012,2.77662 0.0054,5.047946 0.01462,5.04739 0.0092,-6.03e-4 0.13753203,-0.04451 0.28512703,-0.09769 z M 6.9682732,5.73428 c 0.600163,-0.479349 0.88968,-0.669108 1.020856,-0.669108 0.129419,0 0.437253,0.196701 1.049919,0.670884 0.476753,0.368986 0.900753,0.670884 0.942233,0.670884 0.05488,0 0.07064,-0.744389 0.05789,-2.733852 -0.01753,-2.73385 -0.01753,-2.73385 -2.0301728,-2.73385 -2.012653,0 -2.012653,0 -2.030178,2.73385 -0.01387,2.165327 6.6e-5,2.733483 0.06709,2.732076 C 6.09245,6.404173 6.507512,6.102289 6.968276,5.73428 Z")
  //- repo introduction
  foreignObject(x="20" y="60" width="360" height="18")
    p(xmlns="http://www.w3.org/1999/xhtml")=intro
  //- repo state
  g(transform="translate(20 90)")
    g
      path(transform="translate(0 4)" fill="none" stroke="#586069" stroke-width="1.5" d="M14,6 L9.1,5.36 L7,1 L4.9,5.36 L0,6 L3.6,9.26 L2.67,14 L7,11.67 L11.33,14 L10.4,9.26 L14,6")
      text(x="17" y="18" fill="#586069" font-size="16" font-family="sans-serif")=stars
    g(transform="translate(80 2)")
      path(transform="translate(0 2)" fill="#586069" d="M10,5 C10,3.89 9.11,3 8,3 C7.0966,2.99761 6.30459,3.60318 6.07006,4.47561 C5.83554,5.34804 6.21717,6.2691 7,6.72 L7,7.02 C6.98,7.54 6.77,8 6.37,8.4 C5.97,8.8 5.51,9.01 4.99,9.03 C4.16,9.05 3.51,9.19 2.99,9.48 L2.99,4.72 C3.77283,4.2691 4.15446,3.34804 3.91994,2.47561 C3.68541,1.60318 2.8934,0.997613 1.99,1 C0.88,1 0,1.89 0,3 C0.00428689,3.71022 0.384911,4.3649 1,4.72 L1,11.28 C0.41,11.63 0,12.27 0,13 C0,14.11 0.89,15 2,15 C3.11,15 4,14.11 4,13 C4,12.47 3.8,12 3.47,11.64 C3.56,11.58 3.95,11.23 4.06,11.17 C4.31,11.06 4.62,11 5,11 C6.05,10.95 6.95,10.55 7.75,9.75 C8.55,8.95 8.95,7.77 9,6.73 L8.98,6.73 C9.59,6.37 10,5.73 10,5 M2,1.8 C2.66,1.8 3.2,2.35 3.2,3 C3.2,3.65 2.65,4.2 2,4.2 C1.35,4.2 0.8,3.65 0.8,3 C0.8,2.35 1.35,1.8 2,1.8 M2,14.21 C1.34,14.21 0.8,13.66 0.8,13.01 C0.8,12.36 1.35,11.81 2,11.81 C2.65,11.81 3.2,12.36 3.2,13.01 C3.2,13.66 2.65,14.21 2,14.21 M8,6.21 C7.34,6.21 6.8,5.66 6.8,5.01 C6.8,4.36 7.35,3.81 8,3.81 C8.65,3.81 9.2,4.36 9.2,5.01 C9.2,5.66 8.65,6.21 8,6.21")
      text(x="17" y="16" fill="#586069" font-size="16" font-family="sans-serif")=forks
    g(transform="translate(160 2)")
      circle(cx="0" cy="10" r="7"  stroke="none" fill=langColor)
      text(x="17" y="16" fill="#586069" font-size="16" font-family="sans-serif")=lang
